<p id="notice"><%= notice %></p>
<div class="lefthone">
<h2>My Profile</h2><img src="/assets/linebreak.jpg" />

</div>

  <h2><%= @profile.firstname %> <%= @profile.lastname %></h2>
  <br />
<h4>Your Details:</h4>
 <br />
<p>
  <b>Address:</b>
  <%= @profile.address %>
</p>

<p>
  <b>Mobile:</b>
  <%= @profile.mobile %>
</p>

<%= link_to 'Edit Details', edit_profile_path(@profile) %>
<div class="lefthone">
<h2>Favourite Artists</h2><img src="/assets/linebreak.jpg" />

</div>
  <br />
    <br />
      <br />
        <br />
          <br />
<div class="lefthone">
<h2>Favourite Articles</h2><img src="/assets/linebreak.jpg" />

</div>
  <br />
    <br />
    <br />
    <br />
    <br />
    <br />