<% @articles.each do |article| %>
<div class="lefthone">
<h2><%= link_to article.title, article %></h2><img src="/assets/linebreak.jpg" />
</div>
<br />
<div class="services">
	<%= link_to (image_tag article.imageurl), article %>
<%= truncate(article.body, :length => 500) %><%= link_to "Read More", article %>


<br />
<% if current_user.try(:admin?) %>
<%= link_to 'Edit', edit_article_path(article) %> |
<%= link_to 'Destroy', article, :confirm => 'Are you sure?', :method => :delete %>
</div>
<% end %>
<% end %>
 <br /> 
 <% if current_user.try(:admin?) %>
<%= link_to 'New Article', new_article_path %>
<% end %>