<div class="lefthone">
<h2>Browse Art</h2><img src="/assets/linebreak.jpg" />
</div>
<%= render :partial => 'pieces/search' %>
<p>Sort By:
<%= sortable "name" %>
<%= sortable "price" %>
</p>
<% @pieces.each do |piece| %>

<div class="photos">
<%= link_to (image_tag piece.artimage_url), piece %>
	
<br />
<%= link_to piece.name, piece %>
<br />
<span class="price"><%= number_to_currency( piece.price, :unit=>"&euro;") %></span>
<br />


</div>

<% end %>

<div class="digg_pagination">
<%= will_paginate @pieces%>
</div>

<br />
<% if current_user.try(:admin?) %>
<%= link_to 'New Piece', new_piece_path %>
<% end %>