<div class="lefthone">
<h1>Search Product Catalog</h1><img src="/assets/linebreak.jpg" />
</div>
<br />
<h3>Searching For: <%= @search_term %></h3>

<%= render :partial => 'pieces/search' %>
<% @pieces.each do |piece| %>

<div class="photos">
<%= link_to (image_tag piece.artimage_url, :style => "height:100px"), piece %>
<br />
<%= link_to piece.name, piece %>
<br />
<span class="price"><%= number_to_currency( piece.price, :unit=>"&euro;") %></span>
<br />
<a href="/cart/<%= piece.id %>">Add to Cart</a>

</div>
<table class="catalog">
<% if @pieces.length == 0 %>
<br />
<h2>No Products found for this search term!!</h2>
<% end %>
<% end %>

<br />
<% if current_user.try(:admin?) %>
<%= link_to 'New Piece', new_piece_path %>
<% end %>
