<div class="lefthone">
<h2><%= @artist.artistname %></h2><img src="/assets/linebreak.jpg" />

</div>
<p id="notice"><%= notice %></p>

<div class="paintingmainimage">
  <%= image_tag @piece.artimage_url %>
  <a href="http://pinterest.com/pin/create/button/" class="pin-it-button" count-layout="none"><img src="//assets.pinterest.com/images/PinExt.png" alt="Pin it" / ></a>
<script type="text/javascript" src="http://assets.pinterest.com/js/pinit.js"></script>
</div>

<div class="paintingmaindetails">
<p>
  <span class="productdetails">Name:</span>
  <%= @piece.name %>
</p>

<p>
  <span class="productdetails">Price:</span>
  <span class="price"><%= number_to_currency( @piece.price, :unit=>"&euro;") %></span>
</p>

<p>
  <span class="productdetails">Arttype:</span>
  <%= @piece.arttype %>
</p>

<p>
  <span class="productdetails">Stocknumber:</span>
  <%= @piece.stocknumber %>
</p>
<p>
  <span class="productdetails">Artist:</span>
  <%= @artist.artistname %>
</p>

<p>
  <span class="productdetails">Category:</span>
  <%= @piece.artstyle %>
</p>
<a href="/cart/<%= @piece.id %>">Add to Cart</a>
</div>

<% if current_user.try(:admin?) %>
<%= link_to 'Edit', edit_piece_path(@piece) %> |
<% end %>
<%= link_to 'Back', pieces_path %>
