
<img src="/assets/banner.jpg" />
<div class="break2">
	</div>
<div class="lefthone">
<h2>Featured Artists</h2><img src="/assets/linebreak.jpg" />
</div>
<%= render :partial => 'artists/featuredartist' %>
<div class="lefthone">
<a href="../articles.html" title="Blog" style="text-decoration: none;"><h1>Blog</h1></a><img src="/assets/linebreak.jpg" />
</div>
<% @articles.each do |article| %>

<br />

<div class="articleindex">
	<%= link_to article.title, article %>
<br />
<br />
<div class="services">
	<%= link_to (image_tag article.imageurl), article %>
<%= truncate(article.body, :length => 500) %> <%= link_to "Read More", article %>
</div>

<% end %>
</div>
			<br />