<!DOCTYPE html>
<html>
<head>
  <title>Henakut</title>
<link rel="icon" type="image/png" href="/assets/favicon.ico">

  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>

  
<body class="no-js">
<script>
			var el = document.getElementsByTagName("body")[0];
			el.className = "";
		</script>
        <noscript>
        	<!--[if IE]>
            	<link rel="stylesheet" href="css/ie.css">
            <![endif]-->
        </noscript>
<div class="container">

<div class="adminbar">
  <div class="admincart">
  <% if user_signed_in? %>
  <%= render :partial => 'cart/cartpartial' %>
  <a href="/users/sign_in">View Profile</a>
</div>
<div class="admincart">
<div>Signed in as... <%= current_user.email %> (<%= link_to 'Sign out', destroy_user_session_path, :method => :delete %>)</div>
<% else %>
<%= link_to 'Register', new_user_registration_path %> <%= link_to 'Sign in', new_user_session_path %>
<% end %>
</div>

</div>
<div class="leftheader">
<a href="../index.html" title="Henakut"><img src="/assets/herakut_tag.png" /></a>


</div>
  <div class="navbar">

<nav id="topNav">
        	<ul>
            	<li><a href="../index.html" title="Home">Home</a></li>
          		<li><a href="../artists.html" title="Browse Art">Browse Art</a>
                	<ul>
                    	<li><a href="../pieces.html" title="By Art">By Art</a></li>
                        <li class="last"><a href="../artists.html" title="By Artists">By Artist</a></li>
                    </ul>        
                </li>
              <li class="last"><a href="#" title="Blog">Blog</a></li>
              <li class="last"><a href="../forums.html" title="Art Swap">Art Swap</a></li>
          </ul>
        </nav>
  
  </div>
  <div class="break">
  </div>
<div class="searchbox">

</div>
  <div class="content">
<%= yield %>
  </div>
  <div class="breakend">
  
  </div>
  <div class="footer">
  <div class="leftfooterlinks">
  <ul>
	<li><a href="../index.html" title="Home">- Home</a></li>
        <li><a href="../pieces.html" title="Browse Art">- Browse Art</a>
	<li><a href="../artists.html" title="Browse Artists">- Browse Artists</a>
	<li><a href="#" title="Blog">- Blog</a></li>
	<li><a href="/users/sign_in" title="My Account">- My Account</a></li>
  </ul>
  </div>
  <div class="rightfooterlinks">
  <ul>
	<li><a href="../about.html" title="About Us">- About Us</a></li>
        <li><a href="../faq.html" title="FAQ">- FAQ</a>
	<li><a href="#" title="Commission Artwork">- Commission Artwork</a>
	<li><a href="../corporateclient" title="Corporate Clients">- Corporate Clients</a></li>
	<li><a href="#" title="Become an Artist">- Become an Artist</a></li>
  </ul>
  
  </div>
  
  <div class="righttfooterlogo">
  <a href="../index.html" title="Henakut"><img src="/assets/herakut_tag_foot.png" /></a>
  </div> 
<script src="js/jquery.js"></script>
		<script>
			(function($){
				
				//cache nav
				var nav = $("#topNav");
				
				//add indicator and hovers to submenu parents
				nav.find("li").each(function() {
					if ($(this).find("ul").length > 0) {
						$("<span>").text("^").appendTo($(this).children(":first"));

						//show subnav on hover
						$(this).mouseenter(function() {
							$(this).find("ul").stop(true, true).slideDown();
						});
						
						//hide submenus on exit
						$(this).mouseleave(function() {
							$(this).find("ul").stop(true, true).slideUp();
						});
					}
				});
			})(jQuery);
		</script> 
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
		
    <!-- end .footer --></div>
<!-- end .container --></div>


</body>
</html>
